<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Chat</title>
        <link th:href="@{/css/chat.css}" rel="stylesheet"/>
        <script src="webjars/sockjs-client/1.1.2/sockjs.js"/>
        <script src="webjars/stompjs/2.3.3/lib/stomp.js" />
    </head>
    <body>
        <input type="button" th:value="${userName}" id="userName">Welcome</input>
        <div class="chatBox">
            <div class="users">
                <div class="usersWindow">
                    <div class="rows" id="rows">

                        <!--javascript is generating the users-->

                    </div>
                </div>
                <form class="check">
                    <a class="quitBtn" id="quitBtn">Quit</a>
                    <p class="checkLabel">Invisible</p>
                    <input class="checkbox" type="checkbox" id="checkbox"/>
                </form>
            </div>
            <div class="chatRoom">
                <div class="chatLogs" id="chatLogs">

                    <!--javascript is generating the messages-->

                </div>
                <div class="chatForm">
                    <textarea id="message"></textarea>
                    <button id="sendBtn">Send</button>
                </div>
            </div>
        </div>

        <script th:inline="javascript" th:src="@{/js/Chat.js}"></script>
    </body>
</html>